@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /*margin: 0% 20% 5% 20%; declaracion de margen en una linea (top left bottom rigth*/
    margin: 0;
    scroll-behavior: smooth;
    background: var(--default);

}
header {
    background-color: rgb(87, 167, 192);
    text-align: left;
    color: white;

}
h1{
    color: azure;
}
:root{
    --default: rgb(0, 0, 0);
    --empty: rgb(74, 70, 70);
    --wrong: rgb(209, 34, 34);
    --right: rgb(135, 226, 135);
}
#tablero{
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}
.cuadricula{
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(5,auto);
}
.box{
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display:grid;
    place-items: center;
    font-size: 2.4rem;
}
.box.empty{
    background: var(--empty);
}
.box.wrong{
    background: var(--wrong);
}
.box.right{
    background: var(--right);
}